$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;



.column {
    width: 100%;
}

.card-column {
    display: flex;
}

.card-container {
    width: 350px;
    border-radius: 1rem;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(#000, .1);
    display: flex;
    flex: 0 1 24%;
    flex-direction: column;
    margin: 0.5rem;
    background-color: white;
    height: fit-content;
    padding: 20px 16px;
    z-index: 0;
}

.card-img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.card-title {
    margin: 0.5rem 5%;
    font-weight: bold;
    font-family: helvetica;
    text-align: center;
}

.card-description {
    margin: 1rem 5%;
    position: absolute;
    font-size: .9em;
    font-family: Poppins, sans-serif;
}

.card-btn {
    text-align: center;
    width: 90%;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: #2563eb;
    color: white;
    text-decoration: none;
    margin: 0.5rem 0.5rem;
}